.cp-card-head {
  background: $clr-white;
  border: 1px solid $clr-white-1;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .col {
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 40%;
    }
    &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(4) {
      width: 25%;
    }
  }

  .head-title {
    @include font-source(1.4rem, 1.9rem, $font-semibold, $clr-gray-2, uppercase);
  }
}