.cp-cardlist-wrap {
  .card-sub-head {
    display: flex;
    align-items: center;
    justify-content: center;

    .col {
      &:nth-child(1) {
        width: 20%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 25%;
      }
    }

    .labels {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      @include font-source(1.2rem, 2rem, $font-semibold, $clr-gray-2, uppercase);
    }
  }
}
